Repository microsoft/azure_arc, pull requests merged in 2020-06, with the labels that each got.

#47 change default rg name to describe source host (gcp, aws, or vmware)
  azure_arc_servers_jumpstart/aws/ubuntu/terraform/variables.tf
  azure_arc_servers_jumpstart/docs/aws_terraform_ubuntu.md
  azure_arc_servers_jumpstart/docs/gcp_terraform_ubuntu.md
  azure_arc_servers_jumpstart/docs/gcp_terraform_windows.md
  azure_arc_servers_jumpstart/gcp/ubuntu/terraform/variables.tf
  azure_arc_servers_jumpstart/gcp/windows/terraform/variables.tf
  azure_arc_servers_jumpstart/vmware/ubuntu/terraform/variables.tf
  azure_arc_servers_jumpstart/vmware/winsrv/terraform/variables.tf
Labels: arc_servers

#44 AKS doc update and new k8s version parameter
  azure_arc_k8s_jumpstart/aks/arm_template/azuredeploy.parameters.json
  azure_arc_k8s_jumpstart/docs/aks_arm_template.md
Labels: documentation

#60 Updated TF scripts to add install of python-cnames for MMAextension
  azure_arc_servers_jumpstart/aws/ubuntu/terraform/main.tf
  azure_arc_servers_jumpstart/aws/ubuntu/terraform/provider.tf
  azure_arc_servers_jumpstart/aws/ubuntu/terraform/scripts/install_arc_agent.sh
  azure_arc_servers_jumpstart/gcp/ubuntu/terraform/main.tf
Labels: arc_servers

#65 Aws linux tf
  README.md
  azure_arc_servers_jumpstart/aws/AL2/terraform/main.tf
  azure_arc_servers_jumpstart/aws/AL2/terraform/provider.tf
  azure_arc_servers_jumpstart/aws/AL2/terraform/scripts/install_arc_agent.sh.tmpl
  azure_arc_servers_jumpstart/aws/AL2/terraform/scripts/user_data.tmpl
  azure_arc_servers_jumpstart/aws/AL2/terraform/scripts/vars.sh
  azure_arc_servers_jumpstart/aws/AL2/terraform/variables.tf
  azure_arc_servers_jumpstart/docs/aws_terraform_al2.md
  azure_arc_servers_jumpstart/img/aws_al2/01.png
  azure_arc_servers_jumpstart/img/aws_al2/02.png
  azure_arc_servers_jumpstart/img/aws_al2/03.png
  azure_arc_servers_jumpstart/img/aws_al2/04.png
  azure_arc_servers_jumpstart/img/aws_al2/05.png
  azure_arc_servers_jumpstart/img/aws_al2/06.png
  azure_arc_servers_jumpstart/img/aws_al2/07.png
  azure_arc_servers_jumpstart/img/aws_al2/08.png
  azure_arc_servers_jumpstart/img/aws_al2/09.png
  azure_arc_servers_jumpstart/img/aws_al2/10.png
  azure_arc_servers_jumpstart/img/aws_al2/11.png
  azure_arc_servers_jumpstart/img/aws_al2/12.png
  azure_arc_servers_jumpstart/img/aws_al2/13.png
  azure_arc_servers_jumpstart/img/aws_al2/14.png
  azure_arc_servers_jumpstart/img/aws_al2/15.png
  azure_arc_servers_jumpstart/img/aws_al2/16.png
  azure_arc_servers_jumpstart/img/aws_al2/17.png
  azure_arc_servers_jumpstart/img/aws_al2/18.png
Labels: arc_servers, enhancement

#59 ARM Templates - Custom Script
  README.md
  azure_arc_servers_jumpstart/docs/arc_vm_extension_customscript_arm.md
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatelinux.json
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatelinux.parameters.json
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatewindows.json
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatewindows.parameters.json
  azure_arc_servers_jumpstart/img/vm_extension_customscript/01.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/02.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/03.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/04.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/05.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/06.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/07.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/08.png
  azure_arc_servers_jumpstart/img/vm_extension_customscript/09.png
  azure_arc_servers_jumpstart/scripts/custom_script_linux.sh
  azure_arc_servers_jumpstart/scripts/custom_script_windows.ps1
Labels: arc_servers, enhancement

#71 Deploy MMA via Policies and extensions - Images
  azure_arc_servers_jumpstart/extensions/arm/log_analytics-template.json
Labels: arc_servers
