Repository microsoft/azure_arc, pull requests merged in 2021-07, with the labels that each got.

#622 Fixed az_connect_linux.sh to work on RHEL/CentOS/OEL/Amazon Linux, Ubuntu and SUSE
  azure_arc_servers_jumpstart/scripts/az_connect_linux.sh
Labels: arc_servers, bug

#625 Scenario Deploy Azure Monitor on AKS on Azure Stack HCI
  azure_arc_k8s_jumpstart/aks_stack_hci/monitor_extension/azure_monitor_k8s_extension.ps1
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_monitor/aks_hci_monitor_extension/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_monitor/aks_hci_monitor_extension/02.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_monitor/aks_hci_monitor_extension/03.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_monitor/aks_hci_monitor_extension/04.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_monitor/aks_hci_monitor_extension/05.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_monitor/aks_hci_monitor_extension/06.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_monitor/aks_hci_monitor_extension/_index.md
Labels: arc_k8s, documentation

#640 Azure Automanage using an ARM template scenario
  azure_arc_servers_jumpstart/automanage/artifacts/arcAutomanage.sh
  azure_arc_servers_jumpstart/automanage/artifacts/automanage.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanage.parameters.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanageAccount.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanageAccount.parameters.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanagePermissions.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanagePermissions.parameters.json
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/_index.md
Labels: arc_servers

#650 Image alignment Azure Automanage
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/_index.md
Labels: arc_servers

#659 Updated ARM Template for Update Management on Azure Arc enabled servers Issue 631
  azure_arc_servers_jumpstart/updateManagement/law-template.json
Labels: arc_servers, bug

#677 fix ansible server tf plan to accomodate breaking changes to ansible install
  azure_arc_servers_jumpstart/aws/scaled_deployment/ansible/terraform/server_ansible.tf
Labels: arc_servers, bug

#678 update
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
Labels: ArcBox, bug
