Repository microsoft/azure_arc, pull requests merged in 2021-03, with the labels that each got.

#427 AKS on Azure Stack HCI GitOps Basic
  azure_arc_k8s_jumpstart/aks_stack_hci/gitops/basic/az_k8sconfig_aks_hci.ps1
  docs/azure_arc_jumpstart/azure_arc_k8s/aks_stack_hci/aks_hci_powershell/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/02.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/03.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/04.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/05.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/06.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/07.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/08.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/09.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/10.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/11.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/12.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/13.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/14.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/15.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/16.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/17.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/aks_stack_hci/aks_hci_gitops_basic/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/gke/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/kind/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/_index.md
Labels: arc_k8s, documentation

#453 MicroK8s - Integrate Azure Monitor for Containers with AKS as an Azure Arc Connected Cluster #452
  azure_arc_k8s_jumpstart/microk8s/azure_monitor/microk8s_monitor_onboarding.ps1
  azure_arc_k8s_jumpstart/microk8s/azure_monitor/microk8s_monitor_onboarding.sh
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/02.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/03.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/04.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/05.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/06.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/07.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/08.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/09.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/microk8s/local_microk8s_monitor/_index.md
Labels: arc_k8s, documentation

#474 Guidelines review
  docs/scenario_guidelines/03.png
  docs/scenario_guidelines/04.png
  docs/scenario_guidelines/05.png
  docs/scenario_guidelines/06.png
  docs/scenario_guidelines/07.png
  docs/scenario_guidelines/08.png
  docs/scenario_guidelines/09.png
  docs/scenario_guidelines/10.png
  docs/scenario_guidelines/11.png
  docs/scenario_guidelines/12.png
  docs/scenario_guidelines/13.png
  docs/scenario_guidelines/14.png
  docs/scenario_guidelines/15.png
  docs/scenario_guidelines/16.png
  docs/scenario_guidelines/17.png
  docs/scenario_guidelines/18.png
  docs/scenario_guidelines/19.png
  docs/scenario_guidelines/20.png
  docs/scenario_guidelines/21.png
  docs/scenario_guidelines/22.png
  docs/scenario_guidelines/23.png
  docs/scenario_guidelines/24.png
  docs/scenario_guidelines/25.png
  docs/scenario_guidelines/26.png
  docs/scenario_guidelines/27.png
  docs/scenario_guidelines/28.png
  docs/scenario_guidelines/29.png
  docs/scenario_guidelines/30.png
  docs/scenario_guidelines/31.png
  docs/scenario_guidelines/32.png
  docs/scenario_guidelines/33.png
  docs/scenario_guidelines/34.png
  docs/scenario_guidelines/35.png
  docs/scenario_guidelines/36.png
  docs/scenario_guidelines/37.png
  docs/scenario_guidelines/38.png
  docs/scenario_guidelines/39.png
  docs/scenario_guidelines/40.png
  docs/scenario_guidelines/_index.md
Labels: documentation

#477 Namespace fix
  azure_arc_k8s_jumpstart/aks_stack_hci/gitops/basic/az_k8sconfig_aks_hci.ps1
Labels: arc_k8s
