Repository microsoft/azure_arc, pull requests merged in 2021-08, with the labels that each got.

#697 Updated script to fix sed issues
  azure_arc_servers_jumpstart/automanage/artifacts/arcAutomanage.sh
Labels: arc_servers, bug

#713 Sqlmi ha
  azure_arc_data_jumpstart/aks/arm_template/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/aks/arm_template/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/aks/arm_template/artifacts/wallpaper.png
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/SQLMI.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/SQLMI.parameters.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/dataController.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/dataController.parameters.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/postgreSQL.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/arm_template/artifacts/postgreSQL.parameters.json
  azure_arc_data_jumpstart/eks/terraform/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/wallpaper.png
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DeployPostgreSQL.ps1
  azure_jumpstart_arcbox/artifacts/postgreSQL.json
  docs/azure_arc_jumpstart/azure_arc_data/aks/aks_dc_vanilla_arm_template/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/aks/aks_mssql_mi_arm_template/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/aks/aks_postgresql_hyperscale_arm_template/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/cluster_api/capi_azure/arm_template/dc_vanilla/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/cluster_api/capi_azure/arm_template/mssql_mi/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/cluster_api/capi_azure/arm_template/postgresql_hyperscale/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/eks/eks_dc_vanilla_terraform/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/eks/eks_mssql_mi_terraform/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/eks/eks_postgres_hs_terraform/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/gke/19.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_dc_vanilla_terraform/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_postgres_hs_terraform/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/microk8s/azure/arm_template/dc_vanilla/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/microk8s/azure/arm_template/mssql_mi/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/microk8s/azure/arm_template/postgresql_hyperscale/_index.md
  docs/azure_jumpstart_arcbox/_index.md
  docs/known_issues/webhook_issue.png
Labels: bug, arc_data

#724 Jumpstart ArcBox workbook
  docs/azure_jumpstart_arcbox/workbook/_index.md
  docs/azure_jumpstart_arcbox/workbook/changetracking_parameters.png
  docs/azure_jumpstart_arcbox/workbook/changetracking_services.png
  docs/azure_jumpstart_arcbox/workbook/changetracking_software.png
  docs/azure_jumpstart_arcbox/workbook/general_workbooks.png
  docs/azure_jumpstart_arcbox/workbook/inventory_count_by_type.png
  docs/azure_jumpstart_arcbox/workbook/inventory_parameters.png
  docs/azure_jumpstart_arcbox/workbook/inventory_resource_list.png
  docs/azure_jumpstart_arcbox/workbook/monitoring_alert_summary.png
  docs/azure_jumpstart_arcbox/workbook/monitoring_arc_kubernetes_1.png
  docs/azure_jumpstart_arcbox/workbook/monitoring_arc_kubernetes_2.png
  docs/azure_jumpstart_arcbox/workbook/monitoring_arc_kubernetes_3.png
  docs/azure_jumpstart_arcbox/workbook/monitoring_arc_kubernetes_4.png
  docs/azure_jumpstart_arcbox/workbook/monitoring_arc_servers.png
  docs/azure_jumpstart_arcbox/workbook/search_workspace.png
  docs/azure_jumpstart_arcbox/workbook/security_center_config_1.png
  docs/azure_jumpstart_arcbox/workbook/security_center_config_2.png
  docs/azure_jumpstart_arcbox/workbook/security_center_config_3.png
  docs/azure_jumpstart_arcbox/workbook/security_center_config_4.png
  docs/azure_jumpstart_arcbox/workbook/security_center_config_5.png
  docs/azure_jumpstart_arcbox/workbook/security_center_config_6.png
  docs/azure_jumpstart_arcbox/workbook/security_center_config_7.png
  docs/azure_jumpstart_arcbox/workbook/security_changes.png
  docs/azure_jumpstart_arcbox/workbook/security_changes_resource.png
  docs/azure_jumpstart_arcbox/workbook/security_controls.png
  docs/azure_jumpstart_arcbox/workbook/security_parameters.png
  docs/azure_jumpstart_arcbox/workbook/security_recommendations.png
  docs/azure_jumpstart_arcbox/workbook/security_score.png
  docs/azure_jumpstart_arcbox/workbook/security_trends.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_ha_priority.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_ha_recommendations.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_ha_status.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_parameters.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_performance_priority.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_performance_recommendations.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_performance_status.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_security_priority.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_security_recommendations.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_security_status.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_upgrade_priority.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_upgrade_recommendations.png
  docs/azure_jumpstart_arcbox/workbook/sql_healthcheck_upgrade_status.png
  docs/azure_jumpstart_arcbox/workbook/sql_security_checks.png
  docs/azure_jumpstart_arcbox/workbook/sql_security_priority.png
  docs/azure_jumpstart_arcbox/workbook/tab_menu.png
  docs/azure_jumpstart_arcbox/workbook/update_linux.png
  docs/azure_jumpstart_arcbox/workbook/update_linux_summary.png
  docs/azure_jumpstart_arcbox/workbook/update_parameters.png
  docs/azure_jumpstart_arcbox/workbook/update_windows.png
  docs/azure_jumpstart_arcbox/workbook/update_windows_summary.png
  docs/azure_jumpstart_arcbox/workbook/uptade_linux_top.png
  docs/azure_jumpstart_arcbox/workbook/uptade_windows_top.png
  docs/azure_jumpstart_arcbox/workbook/workbook_overview.png
  docs/azure_jumpstart_arcbox/workbook/workbooks_access.png
  docs/azure_jumpstart_arcbox/workbook/workspace_in_rg.png
Labels: ArcBox
