Repository microsoft/azure_arc, pull requests merged in 2021-01, with the labels that each got.

#343 Update EKS data services vanilla dc scenario to add dc_vanilla path.
  azure_arc_data_jumpstart/eks/dc_vanilla/example/TF_VAR_example.sh
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/azure_rg.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/client_vm.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/eks-cluster.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/eks-worker-nodes.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/outputs.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/providers.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/scripts/ClientTools.ps1
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/scripts/DC_Cleanup.ps1
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/scripts/DC_Deploy.ps1
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/scripts/azure_arc.ps1.tmpl
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/scripts/user_data.txt
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/settings.json
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/variables.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/vpc.tf
  azure_arc_data_jumpstart/eks/dc_vanilla/terraform/workstation-external-ip.tf
  docs/azure_arc_jumpstart/azure_arc_data/eks/eks_dc_vanilla_terraform/_index.md
Labels: arc_data

#347 Azure Security Center
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_securitycenter/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_securitycenter/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_securitycenter/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_securitycenter/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_securitycenter/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_securitycenter/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_securitycenter/_index.md
Labels: arc_servers, jumpstart enhancement

#362 Fixes for GCP enabled SQL server
  azure_arc_sqlsrv_jumpstart/gcp/winsrv/terraform/variables.tf
  docs/azure_arc_jumpstart/azure_arc_sqlsrv/gcp/gcp_terraform_winsrv/_index.md
Labels: arc_servers, documentation

#368 GKE SQL MI scenario initial draft
  .gitignore
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/azure_rg.tf
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/client_vm.tf
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/example/TF_VAR_example.sh
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/gke_cluster.tf
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/providers.tf
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/scripts/ClientTools.ps1
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/scripts/MSSQL_MI_Cleanup.ps1
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/scripts/MSSQL_MI_Deploy.ps1
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/scripts/azure_arc.ps1.tmpl
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/scripts/local_ssd_sc.yaml
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/scripts/password_reset.ps1.tmpl
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/settings.json
  azure_arc_data_jumpstart/gke/mssql_mi/terraform/variables.tf
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/01.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/02.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/03.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/04.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/05.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/06.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/07.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/08.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/09.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/10.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/11.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/12.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/13.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/14.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/15.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/16.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/17.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/18.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/19.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/20.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/21.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/22.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/23.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/24.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/25.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/26.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/27.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/28.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/29.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/30.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/31.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/32.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/33.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/34.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/36.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/37.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/38.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/39.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/40.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/41.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/42.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/43.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/44.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/45.png
  docs/azure_arc_jumpstart/azure_arc_data/gke/gke_mssql_mi_terraform/_index.md
Labels: arc_data, jumpstart enhancement
