Repository microsoft/azure_arc, pull requests merged in 2022-06, with the labels that each got.

#1226 Azure Arc-enabled SQL servers - Adding bastion
  azure_arc_sqlsrv_jumpstart/azure/arm_template/azuredeploy.json
  azure_arc_sqlsrv_jumpstart/azure/arm_template/azuredeploy.parameters.example.json
  azure_arc_sqlsrv_jumpstart/azure/arm_template/azuredeploy.parameters.json
  docs/azure_arc_jumpstart/azure_arc_sqlsrv/azure/azure_arm_template_winsrv/_index.md
  docs/azure_arc_jumpstart/azure_arc_sqlsrv/azure/azure_arm_template_winsrv/sql_vm_bastion.png
  docs/azure_arc_jumpstart/azure_arc_sqlsrv/azure/azure_arm_template_winsrv/sql_vm_portal.png
Labels: documentation, jumpstart enhancement, arc_sqlsrv

#1225 Missing Microsoft.HybridConnectivity RP registration
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  docs/azure_arc_jumpstart/azure_arc_servers/aws/aws_terraform_al2/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/aws/aws_terraform_ubuntu/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/azure/azure_arm_template_linux/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/azure/azure_arm_template_win/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/azure_stack_hci/azure_stack_hci_windows/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuresentinel/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_defender/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_keyvault/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_managed_identity/linux/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_policies_mma/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_updateManagement/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_vm_extension_customscript_arm/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_vm_extension_mma_arm/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/gcp/gcp_terraform_ubuntu/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/gcp/gcp_terraform_windows/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/general/onboard_server_linux/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/general/onboard_server_win/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/scaled_deployment/aws_scaled_ansible/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/scaled_deployment/configuration_manager_scaled_runscript/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/scaled_deployment/configuration_manager_scaled_tasksequence/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/scaled_deployment/vmware_scaled_powercli_linux/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/scaled_deployment/vmware_scaled_powercli_win/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/vagrant/local_vagrant_ubuntu/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/vagrant/local_vagrant_windows/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/vmware/vmware_terraform_ubuntu/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/vmware/vmware_terraform_winsrv/_index.md
Labels: arc_servers

#1233 Create a VM on an Azure Arc-enabled vSphere cluster
  azure_arc_vsphere_jumpstart/vmware_arm_template_win/azuredeploy.example.parameters.json
  azure_arc_vsphere_jumpstart/vmware_arm_template_win/azuredeploy.json
  azure_arc_vsphere_jumpstart/vmware_arm_template_win/azurereploy.parameters.json
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/01.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/02.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/03.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/04.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/05.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/06.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/07.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/08.jpg
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/vmware_arm_template_win/_index.md
  docs/azure_arc_jumpstart/azure_arc_vsphere/resource_bridge/powershell/_index.md
Labels: new_scenario, arc_vmware_vsphere

#1236 Added section for VMware lifecycle
  docs/azure_arc_jumpstart/azure_arc_vsphere/day2/_index.md
Labels: arc_vmware_vsphere

#1240 Calico folder structure
  azure_arc_k8s_jumpstart/multi_distributions/calico_gitops/calico_k8sconfig_gitops.sh
  azure_arc_k8s_jumpstart/multi_distributions/calico_policy/calico-firewall-policy.yaml
  azure_arc_k8s_jumpstart/multi_distributions/calico_policy/storefront.yaml
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/calico/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/gitops/_index.md
Labels: documentation, arc_k8s

#1246 Calico identation changes
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/calico/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/gitops/_index.md
Labels: arc_k8s

#1258 Azure Policy extension and assign an Azure Policy for Azure Arc-enabled Kubernetes
  azure_arc_k8s_jumpstart/multi_distributions/azure_policy/azure_policy.sh
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/02.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/03.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/04.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/05.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/06.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/07.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/08.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/09.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/10.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/azure_policy/_index.md
Labels: arc_k8s, new_scenario

#1238 Azure Monitor Container Insights and recommended alerts for Azure Arc-enabled Kubernetes
  azure_arc_k8s_jumpstart/multi_distributions/container_insights/artifacts/all_alerts.json
  azure_arc_k8s_jumpstart/multi_distributions/container_insights/azure_monitor_alerts.sh
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/02.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/03.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/04.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/05.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/06.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/07.png
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/multi_distributions/container_insights/_index.md
Labels: arc_k8s, new_scenario
