Repository microsoft/azure_arc, pull requests merged in 2022-07, with the labels that each got.

#1271 k3s terraform refresh
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/main.tf
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/provider.tf
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/scripts/install_k3s.sh
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/scripts/vars.sh
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/terraform.tfvars
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_terraform/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_terraform/04.png
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_terraform/05.png
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_terraform/06.png
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_terraform/07.png
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_terraform/_index.md
Labels: documentation, arc_k8s

#1268 AKS Terraform refresh
  azure_arc_k8s_jumpstart/aks/terraform/provider.tf
  azure_arc_k8s_jumpstart/aks/terraform/terraform.tfvars
  docs/azure_arc_jumpstart/azure_arc_k8s/aks/aks_terraform/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/aks/aks_terraform/_index.md
Labels: documentation, arc_k8s

#1283 Azure Monitor Agent (AMA) in Azure Arc-enabled servers
  azure_arc_servers_jumpstart/azuremonitoragent/ama-linux-template.json
  azure_arc_servers_jumpstart/azuremonitoragent/ama-template.example.parameters.json
  azure_arc_servers_jumpstart/azuremonitoragent/ama-template.parameters.json
  azure_arc_servers_jumpstart/azuremonitoragent/ama-windows-template.json
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/10.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/11.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/12.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/13.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/14.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/15.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/16.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/17.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/18.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/19.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/20.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/21.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/22.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/23.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/24.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/25.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/26.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/27.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/28.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/29.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/30.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/_index.md
Labels: arc_servers, new_scenario

#1295 New Dapr Scenario: Deploy an application using the Dapr cluster extension
  azure_arc_k8s_jumpstart/multi_distributions/dapr/dapr_k8s_statestore.sh
  azure_arc_k8s_jumpstart/multi_distributions/dapr/python.yaml
  azure_arc_k8s_jumpstart/multi_distributions/dapr/sample.json
  docs/azure_arc_jumpstart/azure_arc_k8s/day2/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/02.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/03.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/04.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/05.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/06.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/07.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/08.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/09.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/10.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/11.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/12.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/13.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/14.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/15.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/16.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/17.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/18.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/19.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/20.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/21.png
  docs/azure_arc_jumpstart/azure_arc_k8s/developer/dapr/dapr_statestore/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/iot_uses_cases/_index.md
Labels: arc_k8s, new_scenario
