Repository microsoft/azure_arc, pull requests merged in 2022-03, with the labels that each got.

#1004 Update Automanage scenario
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/_index.md
Labels: documentation, jumpstart enhancement, arc_servers

#1016 Updated Automanage scenario with new ARM template
  azure_arc_servers_jumpstart/automanage/artifacts/arcAutomanage.sh
  azure_arc_servers_jumpstart/automanage/artifacts/automanage.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanage.parameters.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanageAccount.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanageAccount.parameters.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanagePermissions.json
  azure_arc_servers_jumpstart/automanage/artifacts/automanagePermissions.parameters.json
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/_index.md
Labels: documentation, jumpstart enhancement, arc_servers, refactoring

#1018 DevOps workbook and workbook readme
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/mgmtMonitorWorkbookDevOps.json
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/_index.md
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/azure_workbook.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/general_workbooks.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/inventory_count_by_type.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/inventory_parameters.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/inventory_resource_list.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_alert_summary.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_1.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_2.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_3.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_4.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/open_workbook.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/search_workspace.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_center_config_1.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_center_config_2.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_center_config_3.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_center_config_4.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_changes.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_changes_resource.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_controls.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_parameters.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_recommendations.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_score.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_trends.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/tab_menu.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/workbook_overview.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/workbooks_access.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/workspace_in_rg.png
Labels: ArcBox

#1001 Hardening NSG inbound rule - Azure Arc-enabled Kubernetes
  azure_arc_k8s_jumpstart/rancher_k3s/azure/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/rancher_k3s/azure/arm_template/azuredeploy.parameters.json
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/main.tf
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/provider.tf
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/variables.tf
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_arm_template/_index.md
  docs/azure_arc_jumpstart/azure_arc_k8s/rancher_k3s/azure_terraform/_index.md
Labels: documentation, jumpstart enhancement, arc_k8s, stale, refactoring

#1028 Microsoft Defender for Cloud simulation
  docs/azure_jumpstart_arcbox/DevOps/_index.md
  docs/azure_jumpstart_arcbox/DevOps/defender_alert01.png
  docs/azure_jumpstart_arcbox/DevOps/defender_alert02.png
  docs/azure_jumpstart_arcbox/DevOps/defender_alert03.png
Labels: documentation, ArcBox
