Repository microsoft/azure_arc, pull requests merged in 2022-04, with the labels that each got.

#1053 Update readme to add code snippet for adding "User Access Administrator" role
  docs/azure_arc_jumpstart/azure_arc_k8s/aro/aro_arm_template/_index.md
Labels: documentation, arc_k8s

#1044 Azure Arc-enabled servers Private Link integration
  azure_arc_servers_jumpstart/privatelink/ARM/cloudDeploy.json
  azure_arc_servers_jumpstart/privatelink/ARM/onPremisesDeploy.json
  azure_arc_servers_jumpstart/privatelink/artifacts/bootstrap.ps1
  azure_arc_servers_jumpstart/privatelink/artifacts/installArcAgent.ps1
  azure_arc_servers_jumpstart/privatelink/azuredeploy.example.parameters.json
  azure_arc_servers_jumpstart/privatelink/azuredeploy.json
  azure_arc_servers_jumpstart/privatelink/azuredeploy.parameters.json
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/10.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/11.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/_index.md
Labels: documentation, arc_servers, new_scenario

#1059 Private Link on Azure Arc enabled servers
  azure_arc_servers_jumpstart/privatelink/artifacts/Bootstrap.ps1
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/_index.md
Labels: documentation, arc_servers

#1079 Monitoring workbook
  azure_jumpstart_arcbox/artifacts/mgmtMonitorWorkbookDevOps.json
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/_index.md
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/agentmgmt_machinesnotreport.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/agentmgmt_securitystatus.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/azure_workbook.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/general_workbooks.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/inventory_count_by_type.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/inventory_parameters.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/inventory_resource_list.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_alert_summary.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_1.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_2.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_3.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/monitoring_arc_kubernetes_4.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/open_workbook.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/search_workspace.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_changes.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_changes_resource.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_controls.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_parameters.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_recommendations.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_score.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/security_trends.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/tab_menu.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/workbook_overview.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/workbooks_access.png
  docs/azure_jumpstart_arcbox/workbook/flavors/DevOps/workspace_in_rg.png
Labels: documentation, ArcBox

#1135 Updated scenario for AKS on HCI
  azure_arc_k8s_jumpstart/aks_stack_hci/powershell/aks_hci_deploy.ps1
  docs/azure_arc_jumpstart/azure_arc_k8s/aks_stack_hci/aks_hci_powershell/01.png
  docs/azure_arc_jumpstart/azure_arc_k8s/aks_stack_hci/aks_hci_powershell/02.png
  docs/azure_arc_jumpstart/azure_arc_k8s/aks_stack_hci/aks_hci_powershell/_index.md
Labels: arc_k8s, az_stack_hci
