Repository microsoft/azure_arc, pull requests merged in 2022-05, with the labels that each got.

#1162 SSH access to Azure Arc-enabled servers
  azure_arc_servers_jumpstart/ssh/enable_ssh.sh
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/_index.md
Labels: documentation, arc_servers, new_scenario

#1201 Updated scenario with supported services
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/_index.md
Labels: documentation, jumpstart enhancement, arc_servers

#1208 Azure Arc-enabled server connectivity behind proxy
  azure_arc_servers_jumpstart/proxy/ARM/cloudDeploy.json
  azure_arc_servers_jumpstart/proxy/artifacts/install_arc_agent_proxy.sh
  azure_arc_servers_jumpstart/proxy/artifacts/proxy_setup.sh
  azure_arc_servers_jumpstart/proxy/azuredeploy.example.parameters.json
  azure_arc_servers_jumpstart/proxy/azuredeploy.json
  azure_arc_servers_jumpstart/proxy/azuredeploy.parameters.json
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_managed_identity/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_security_baseline/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/_index.md
Labels: documentation, arc_servers, new_scenario

#1219 Updated private link scenario to show private connection
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/_index.md
Labels: bug, arc_servers

#1220 Typos in Azure Arc-enabled SQL Managed Instance disaster recovery scenario
  docs/azure_arc_jumpstart/azure_arc_data/day2/aks/aks_mssql_dr/_index.md
Labels: bug, documentation, arc_data
