Repository microsoft/azure_arc, pull requests merged in 2023-03, with the labels that each got.

#1714 We need pass more two parameters on the command when we are using ARO
  azure_arc_k8s_jumpstart/aro/arm_template/scripts/az_connect_aro.sh
Labels: arc_k8s

#1720 updating diagram
  docs/azure_jumpstart_hcibox/arch_full.png
Labels: HCIBox

#1721 HCIBox diagram hotfix
  docs/azure_jumpstart_hcibox/arch_full.png
Labels: HCIBox

#1724 Changed the demo purposes only warning
  docs/azure_arc_jumpstart/azure_arc_k8s/aks_hybrid/aks_edge_essentials/_index.md
Labels: arc_k8s

#1727 add the steps to turn on Insights
  docs/azure_jumpstart_hcibox/_index.md
Labels: HCIBox

#1744 Hcibox rbonly fix
  azure_jumpstart_hcibox/artifacts/Deploy-ArcResourceBridge.ps1
  azure_jumpstart_hcibox/artifacts/Register-AzSHCI.ps1
  azure_jumpstart_hcibox/artifacts/Uninstall-ResourceBridge.ps1
Labels: HCIBox

#1749 fix bad image version
  arc_data_services/test/launcher/base/kustomization.yaml
Labels: good to merge

#1747 Updated scenario for automanage builtin profiles
  azure_arc_servers_jumpstart/automanage_builtin_profile/azuredeploy.json
  azure_arc_servers_jumpstart/automanage_builtin_profile/azuredeploy.parameters.example.json
  azure_arc_servers_jumpstart/automanage_builtin_profile/azuredeploy.parameters.json
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/10.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/10.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_builtin_profiles/_index.md
Labels: jumpstart enhancement, arc_servers

#1754 Enable Azure Automanage on an Azure Arc-enabled server using custom profiles
  azure_arc_servers_jumpstart/automanage_custom_profile/azuredeploy.json
  azure_arc_servers_jumpstart/automanage_custom_profile/azuredeploy.parameters.example.json
  azure_arc_servers_jumpstart/automanage_custom_profile/azuredeploy.parameters.json
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/10.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_custom_profiles/_index.md
Labels: arc_servers, new_scenario
