Repository microsoft/azure_arc, pull requests merged in 2023-02, with the labels that each got.

#1656 AKS Edge Essentials Scenario Update
  docs/azure_arc_jumpstart/azure_arc_k8s/aks_hybrid/aks_edge_essentials/_index.md
Labels: arc_k8s

#1663 AKS Edge Essentials Scenario Update
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials/arm_template/azuredeploy.parameters.example.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials/arm_template/azuredeploy.parameters.json
  docs/azure_arc_jumpstart/azure_arc_k8s/aks_hybrid/aks_edge_essentials/_index.md
Labels: arc_k8s

#1668 Ssms version update
  azure_arc_data_jumpstart/aks/ARM/artifacts/DeploySQLMIADAuth.ps1
  azure_arc_sqlsrv_jumpstart/aws/winsrv/terraform/scripts/sql.ps1.tmpl
  azure_arc_sqlsrv_jumpstart/azure/windows/archive/vanilla/arm_template/scripts/LogonScript.ps1
  azure_arc_sqlsrv_jumpstart/gcp/winsrv/terraform/scripts/sql.ps1.tmpl
  azure_arc_sqlsrv_jumpstart/vmware/winsrv/terraform/scripts/sql.ps1.tmpl
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
Labels: bug, arc_data, arc_sqlsrv

#1678 Arcbox sql login fix
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  docs/azure_arc_jumpstart/azure_arc_data/day2/aks/aks_mssql_dr/46.png
  docs/azure_arc_jumpstart/azure_arc_data/day2/aks/aks_mssql_ha/08.png
  docs/azure_arc_jumpstart/azure_arc_data/day2/aks/aks_mssql_migrate/38.png
  docs/azure_arc_jumpstart/azure_arc_data/day2/cluster_api/capi_azure/capi_mssql_ha/07.png
  docs/azure_jumpstart_arcbox/DataOps/ssms_start.png
Labels: ArcBox

#1706 HCIBox minor improvements
  azure_jumpstart_hcibox/artifacts/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/Register-AzSHCI.ps1
  azure_jumpstart_hcibox/bicep/host/host.bicep
  azure_jumpstart_hcibox/bicep/main.bicep
  docs/azure_jumpstart_hcibox/_index.md
Labels: HCIBox

#1713 fixing deployment issue with CAPI missing parms
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/kubernetes/ubuntuCapi.json
  azure_jumpstart_arcbox/ARM/kubernetes/ubuntuRancher.json
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
Labels: bug, ArcBox
