Repository microsoft/azure_arc, pull requests merged in 2023-09, with the labels that each got.

#2092 Added error handling and retry-logic for Copy-VMFile
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
Labels: bug, Agora

#2101 fix series check for available cores
  azure_jumpstart_hcibox/scripts/preprovision.ps1
Labels: bug, HCIBox

#2104 [HCIBox] Update Resource bridge pindown to 0.2.31
  azure_jumpstart_hcibox/artifacts/Deploy-ArcResourceBridge.ps1
Labels: HCIBox

#2108 [HCIBox] New-MOCGroup no longer needed
  azure_jumpstart_hcibox/artifacts/Deploy-ArcResourceBridge.ps1
Labels: bug, HCIBox

#2112 [HCIBox] remove preview note
  docs/azure_jumpstart_hcibox/_index.md
Labels: documentation, HCIBox

#2107 Updated data pipeline documentation with troubleshooting instructions.
  docs/azure_jumpstart_ag/contoso_supermarket/data_pos/_index.md
  docs/azure_jumpstart_ag/contoso_supermarket/freezer_monitor/_index.md
  docs/azure_jumpstart_ag/contoso_supermarket/troubleshooting/_index.md
  docs/azure_jumpstart_ag/contoso_supermarket/troubleshooting/img/adx-database-grant-user-access.png
  docs/azure_jumpstart_ag/contoso_supermarket/troubleshooting/img/adx-principal-not-authorized.png
Labels: documentation, Agora

#2113 Fixed font color issue in the troubleshooting instructions
  docs/azure_jumpstart_ag/contoso_supermarket/troubleshooting/_index.md
Labels: documentation, Agora

#2118 Updated VM image for GCP Linux-scenario
  azure_arc_servers_jumpstart/gcp/ubuntu/terraform/main.tf
Labels: bug, arc_servers

#2120 New AKS and AKSEE versions
  azure_jumpstart_ag/artifacts/L1Files/ScalableCluster.json
  azure_jumpstart_ag/bicep/kubernetes/aks.bicep
Labels: Agora

#2123 AKS EE schema and AKS version update
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/L1Files/ScalableCluster.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/L1Files/ScalableClusterAdd-k3s.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/L1Files/ScalableClusterAdd-k8s.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/L1Files/ScalableCluster.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/L1Files/ScalableClusterAdd-k3s.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/L1Files/ScalableClusterAdd-k8s.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/artifacts/LogonScript.ps1
Labels: aks_hybrid

#2126 [HCIBox] fix issue with RB deployment status check caused by change in returned values from azappliance extension
  azure_jumpstart_hcibox/artifacts/Deploy-ArcResourceBridge.ps1
Labels: bug, HCIBox, upstream related

#2133 Modify AKS EE Arc onboarding to allow Managed Prometheus Microsoft.AzureMonitor.Containers.Metrics Arc extension deployment
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/artifacts/LogonScript.ps1
Labels: upstream related, aks_hybrid

#2130 Migrate ArcBox, Agora and HCIBox to Azure CLI 64-bit
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig.psd1
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/Bootstrap.ps1
Labels: feature-request, ArcBox, HCIBox, Agora
