Repository microsoft/azure_arc, pull requests merged in 2023-08, with the labels that each got.

#1985 updates for july arc data release
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aro/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/Deploy-SQLMI.ps1
Labels: arc_data, ArcBox, upstream related

#2036 Azure Arc-enabled servers Datadog integration
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/video/video-streaming.yaml
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/artifacts/video/video-streaming.yaml
  azure_arc_servers_jumpstart/datadog/datadog.ps1
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/_index.md
Labels: arc_servers, new_scenario

#2046 updates for Aug release
  arc_data_services/charts/arcdataservices/azure/metadata.json
  arc_data_services/charts/arcdataservices/templates/active_directory_connector_crd.yaml
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aro/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/Deploy-SQLMI.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2057 ARO SPN securestring
  azure_arc_k8s_jumpstart/aro/arm_template/azuredeploy.json
Labels: bug, arc_k8s

#2063 Custom Location registration provider
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/artifacts/Bootstrap.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/artifacts/LogonScript.ps1
Labels: aks_hybrid

#2067 Fix HCIBox doc bug
  docs/azure_jumpstart_hcibox/_index.md
Labels: bug, documentation, HCIBox

#2068 Updated storage account for VHD and database backup file
  azure_arc_data_jumpstart/aks/ARM/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aro/ARM/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DeployPostgreSQL.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DeployPostgreSQL.ps1
  azure_arc_servers_jumpstart/azure_stack_hci/powershell/azstack_hci_vm_deploy.ps1
  azure_jumpstart_arcbox/artifacts/DeployPostgreSQL.ps1
Labels: jumpstart enhancement, arc_data, ArcBox

#2078 Agora - update no of public ip address
  azure_jumpstart_ag/scripts/preprovision.ps1
  docs/azure_jumpstart_ag/contoso_supermarket/deployment/_index.md
Labels: bug, Agora

#2082 fix database name in restore command for HCIBox
  azure_jumpstart_hcibox/artifacts/Deploy-SQLMI.ps1
Labels: bug, HCIBox

#2084 fix database name
  azure_arc_data_jumpstart/aks/ARM/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DeploySQLMIADAuth.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/aro/ARM/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DeploySQLMI.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DeploySQLMI.ps1
Labels: bug, arc_data, ArcBox

#2089 Add note about WAC registration not being supported
  docs/azure_jumpstart_hcibox/WAC/_index.md
  docs/azure_jumpstart_hcibox/_index.md
Labels: documentation, az_stack_hci, HCIBox

#2090 Missed script for sampledb restore fix
  azure_jumpstart_arcbox/artifacts/DeploySQLMIADAuth.ps1
Labels: bug, arc_data
