Repository microsoft/azure_arc, pull requests merged in 2023-12, with the labels that each got.

#2314 Update Azure Arc-enabled vSphere automation
  azure_arc_vsphere_jumpstart/resource_bridge/powershell/config/arcbridge-appliance-stage.yaml
  azure_arc_vsphere_jumpstart/resource_bridge/powershell/config/arcbridge-infra-stage.yaml
  azure_arc_vsphere_jumpstart/resource_bridge/powershell/vCenter_onboarding.ps1
Labels: arc_vmware_vsphere

#2318 Azure Arc-enabled Kubernetes - changed secure string variable type
  azure_arc_k8s_jumpstart/aks/terraform/variables.tf
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/azuredeploy.json
Labels: arc_k8s, aks_hybrid

#2325 updates for dec release
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/create-sql-keytab.sh
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/scripts/rotate-sql-keytab.sh
  arc_data_services/deploy/yaml/README.md
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/README.md
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/Deploy-SQLMI.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2321 Run all automation scripts except bootstrap using PowerShell 7
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Labels: jumpstart enhancement, ArcBox

#2322 Moved package installations to WinGet
  azure_jumpstart_arcbox/ARM/clientVm/clientVm.json
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DevOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/RunAfterClientVMADJoin.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_arcbox/artifacts/dsc/common.dsc.yml
  azure_jumpstart_arcbox/artifacts/dsc/dataops.dsc.yml
  azure_jumpstart_arcbox/artifacts/dsc/devops.dsc.yml
  azure_jumpstart_arcbox/artifacts/dsc/itpro.dsc.yml
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
Labels: jumpstart enhancement, ArcBox

#2329 Azure Arc-enabled Kubernetes - changed secure string variable type
  azure_arc_k8s_jumpstart/aks_iot_edge/terraform/variable.tf
  azure_arc_k8s_jumpstart/alibaba/terraform/module/variables.tf
  azure_arc_k8s_jumpstart/eks/terraform/variables.tf
  azure_arc_k8s_jumpstart/gke/terraform/variables.tf
  azure_arc_k8s_jumpstart/rancher_k3s/azure/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/rancher_k3s/vmware/terraform/variables.tf
Labels: jumpstart enhancement, arc_k8s

#2334 ArcBox 3.0 workstream - task 920
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/powershell/modules/Azure.Arc.Jumpstart.Common/Azure.Arc.Jumpstart.Common.psd1
  azure_jumpstart_arcbox/artifacts/powershell/modules/Azure.Arc.Jumpstart.Common/Azure.Arc.Jumpstart.Common.psm1
  azure_jumpstart_arcbox/artifacts/powershell/modules/Azure.Arc.Jumpstart.Common/Functions/Public/Set-JSDesktopBackground.ps1
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
Labels: ArcBox

#2335 added archived extensions templates
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatelinux.json
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatelinux.parameters.json
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatewindows.json
  azure_arc_servers_jumpstart/extensions/arm/customscript-templatewindows.parameters.json
Labels: bug, documentation, arc_servers
