Repository microsoft/azure_arc, pull requests merged in 2023-11, with the labels that each got.

#2215 Updated Data Services README files
  docs/azure_arc_jumpstart/azure_arc_data/aks/aks_mssql_mi_arm_template/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/aro/aro_mssql_mi_arm_template/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/day2/aks/aks_mssql_mi_ad_auth_arm_template/_index.md
  docs/azure_arc_jumpstart/azure_arc_data/eks/eks_mssql_mi_terraform/_index.md
Labels: documentation, arc_data

#2228 Updated Azure Arc-enabled servers scenario for Azure Private Link to use securestring for parameters with sensitive information
  azure_arc_servers_jumpstart/privatelink/ARM/onPremisesDeploy.json
  azure_arc_servers_jumpstart/privatelink/artifacts/Bootstrap.ps1
  azure_arc_servers_jumpstart/privatelink/azuredeploy.json
Labels: jumpstart enhancement, arc_servers

#2275 upgrade to nov release versions
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/Deploy-SQLMI.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2312 Azure Arc-enabled servers, changed secure string variable type
  azure_arc_servers_jumpstart/aws/AL2/terraform/variables.tf
  azure_arc_servers_jumpstart/aws/scaled_deployment/ansible/terraform/variables.tf
  azure_arc_servers_jumpstart/aws/ubuntu/terraform/variables.tf
  azure_arc_servers_jumpstart/gcp/ubuntu/terraform/variables.tf
  azure_arc_servers_jumpstart/gcp/windows/terraform/variables.tf
  azure_arc_servers_jumpstart/proxy/ARM/cloudDeploy.json
  azure_arc_servers_jumpstart/proxy/azuredeploy.example.parameters.json
  azure_arc_servers_jumpstart/proxy/azuredeploy.json
  azure_arc_servers_jumpstart/proxy/azuredeploy.parameters.json
  azure_arc_servers_jumpstart/vmware/ubuntu/terraform/variables.tf
  azure_arc_servers_jumpstart/vmware/winsrv/terraform/variables.tf
Labels: arc_servers
