Repository microsoft/azure_arc, pull requests merged in 2023-10, with the labels that each got.

#2135 New JS Scenario - Windows and SQL Server 2012/2012R2 ESU via Azure Arc
  azure_arc_servers_jumpstart/esu/artifacts/Bootstrap.ps1
  azure_arc_servers_jumpstart/esu/artifacts/LogonScript.ps1
  azure_arc_servers_jumpstart/esu/artifacts/installArcAgent.ps1
  azure_arc_servers_jumpstart/esu/artifacts/installArcAgentSQL.ps1
  azure_arc_servers_jumpstart/esu/bicep/host/host.bicep
  azure_arc_servers_jumpstart/esu/bicep/main.bicep
  azure_arc_servers_jumpstart/esu/bicep/main.parameters.json
  azure_arc_servers_jumpstart/esu/bicep/network/network.bicep
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuremonitoragent/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_azuresentinel/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_datadog/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_defender/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/01.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/02.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/03.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/04.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/05.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/06.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/07.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/08.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/09.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/10.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/11.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/12.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/13.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/14.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/15.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/16.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/17.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/18.png
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_grafana/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_inventory_management/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_keyvault/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_managed_identity/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_monitoring/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_policies_mma/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_privatelink/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_proxy/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_security_baseline/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_ssh/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_updateManagementCenter/_index.md
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_vm_extension_customscript_arm/_index.md
  docs/azure_arc_jumpstart/azure_arc_sqlsrv/day2/_index.md
  docs/azure_arc_jumpstart/azure_arc_sqlsrv/day2/esu/_index.md
Labels: arc_servers, new_scenario

#2150 Change clean up message on ESU scenario for Arc-enabled servers
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_extended_security_updates/_index.md
Labels: arc_servers

#2161 [HCIBox] full swap to x64 az cli on host nodes
  azure_jumpstart_hcibox/artifacts/Deploy-ArcResourceBridge.ps1
  azure_jumpstart_hcibox/artifacts/Register-AzSHCI.ps1
Labels: bug, HCIBox

#2165 Arcbox capi issue
  azure_jumpstart_arcbox/artifacts/installCAPI.sh
Labels: ArcBox

#2149 updates for Oct Release
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/Deploy-SQLMI.ps1
  docs/azure_arc_jumpstart/azure_arc_k8s/eks/eks_terraform/_index.md
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2180 Hcibox deployment fix
  azure_jumpstart_hcibox/artifacts/Deploy-ArcResourceBridge.ps1
  azure_jumpstart_hcibox/artifacts/New-HCIBoxCluster.ps1
Labels: HCIBox

#2190 CAPI Pin down for Azure Arc-enabled data services and Azure Arc-enabled App services
  azure_arc_app_services_jumpstart/cluster_api/capi_azure/ARM/artifacts/installCAPI.sh
  azure_arc_app_services_jumpstart/cluster_api/capi_azure/ARM/mgmtStagingStorage.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/installCAPI.sh
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/mgmtStagingStorage.json
Labels: arc_data, arc_app_svc

#2195 Updated module versions and example configuration for Automanage Machine Configuration custom configurations for Linux
  docs/azure_arc_jumpstart/azure_arc_servers/day2/arc_automanage/arc_automanage_machine_configuration_custom_linux/_index.md
Labels: jumpstart enhancement, arc_servers
