Repository microsoft/azure_arc, pull requests merged in 2024-07, with the labels that each got.

#2589 Update ArcBox to leverage bicepparam instead of json format for example parameter file
  azure_jumpstart_arcbox/bicep/main.bicep
  azure_jumpstart_arcbox/bicep/main.bicepparam
  azure_jumpstart_arcbox/bicep/main.parameters.json
Labels: ArcBox

#2591 ArcBox 3.0 - Updates to address issues using managed identity
  azure_arc_app_services_jumpstart/cluster_api/capi_azure/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/clientVm/clientVm.json
  azure_jumpstart_arcbox/ARM/kubernetes/aks.json
  azure_jumpstart_arcbox/ARM/kubernetes/ubuntuCapi.json
  azure_jumpstart_arcbox/ARM/kubernetes/ubuntuRancher.json
  azure_jumpstart_arcbox/ARM/mgmt/addsVm.json
  azure_jumpstart_arcbox/ARM/mgmt/policyAzureArcBuiltins.json
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsAppScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/MonitorWorkbookLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/RunAfterClientVMADJoin.ps1
  azure_jumpstart_arcbox/artifacts/SetupADDS.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_arcbox/artifacts/dataController.json
  azure_jumpstart_arcbox/artifacts/dataController.parameters.json
  azure_jumpstart_arcbox/artifacts/dsc/common.dsc.yml
  azure_jumpstart_arcbox/artifacts/dsc/dataops.dsc.yml
  azure_jumpstart_arcbox/artifacts/dsc/devops.dsc.yml
  azure_jumpstart_arcbox/artifacts/installCAPI.sh
  azure_jumpstart_arcbox/artifacts/installK3s.sh
  azure_jumpstart_arcbox/artifacts/mgmtMonitorWorkbookFull.json
  azure_jumpstart_arcbox/artifacts/tests/Invoke-Test.ps1
  azure_jumpstart_arcbox/artifacts/tests/dataops.tests.ps1
  azure_jumpstart_arcbox/artifacts/tests/itpro.tests.ps1
  azure_jumpstart_arcbox/artifacts/welcomeCAPI.sh
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/kubernetes/aks.bicep
  azure_jumpstart_arcbox/bicep/kubernetes/ubuntuRancherNodes.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Labels: ArcBox, refactoring

#2593 ArcBox 3.0 - Updated workbooks and improved monitoring of the deployment status of clusters in DataOps
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/MonitorWorkbookLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/monitoring/arc-inventory-workbook.json
  azure_jumpstart_arcbox/artifacts/monitoring/arc-osperformance-workbook.json
  azure_jumpstart_arcbox/artifacts/powershell/modules/Azure.Arc.Jumpstart.Common/Azure.Arc.Jumpstart.Common.psd1
  azure_jumpstart_arcbox/artifacts/powershell/modules/Azure.Arc.Jumpstart.Common/Functions/Public/Deploy-Workbook.ps1
  azure_jumpstart_arcbox/artifacts/powershell/modules/Azure.Arc.Jumpstart.Common/Functions/Public/Show-K8sPodStatus.ps1
Labels: ArcBox

#2595 Update Azure Monitor Workbook logon script
  azure_jumpstart_arcbox/artifacts/MonitorWorkbookLogonScript.ps1
Labels: ArcBox

#2596 Update vmSize for clientVm to use v5
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
Labels: ArcBox

#2598 Arcbox 3.0 - Updates withs SQL Migration Assessment
  azure_jumpstart_arcbox/artifacts/ArcSQLManualOnboarding.ps1
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/bicep/kubernetes/ubuntuRancher.bicep
  azure_jumpstart_arcbox/bicep/kubernetes/ubuntuRancherNodes.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
Labels: ArcBox, refactoring

#2606 ArcBox 3.0 - optimizations
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DevOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/RunAfterClientVMADJoin.ps1
Labels: ArcBox

#2607 Fixed Azure Monitor permissions and SQL MI AD auth issues.
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DeploySQLMIADAuth.ps1
Labels: ArcBox, refactoring

#2609 version updates for July release
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2616 Arcbox 3.0 - SQL Migration Assessment updates
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/prepareSqlServerForAssessment.ps1
Labels: arc_data, ArcBox, refactoring

#2622 Arcbox 3.0 - Customize tags
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/dataController.parameters.json
  azure_jumpstart_arcbox/artifacts/installArcAgent.ps1
  azure_jumpstart_arcbox/artifacts/installArcAgentUbuntu.sh
  azure_jumpstart_arcbox/artifacts/installK3s.sh
  azure_jumpstart_arcbox/artifacts/postgreSQL.parameters.json
  azure_jumpstart_arcbox/artifacts/sqlmi.parameters.json
  azure_jumpstart_arcbox/artifacts/sqlmiAD.parameters.json
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
  azure_jumpstart_arcbox/bicep/main.bicepparam
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
  azure_jumpstart_arcbox/bicep/mgmt/policyAzureArc.bicep
Labels: review

#2627 fix ConvertFrom-securestring issue
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/azure.yaml
  azure_jumpstart_hcibox/bicep/main.azd.bicep
  azure_jumpstart_hcibox/hooks/postprovision.ps1
  azure_jumpstart_hcibox/hooks/postprovision.sh
  azure_jumpstart_hcibox/hooks/preprovision.ps1
  azure_jumpstart_hcibox/hooks/preprovision.sh
Labels: HCIBox

#2625 Add the ability to pin AKSEE schema version
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/Bootstrap.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/clientVm/clientVm.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/main.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/Bootstrap.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/clientVm/clientVm.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/main.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/artifacts/Bootstrap.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/artifacts/Bootstrap.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_vi/artifacts/LogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/common.psm1
  azure_jumpstart_ag/manufacturing/bicep/clientVm/clientVm.bicep
  azure_jumpstart_ag/manufacturing/bicep/main.bicep
  azure_jumpstart_ag/retail/bicep/clientVm/clientVm.bicep
  azure_jumpstart_ag/retail/bicep/main.bicep
Labels: review
