Repository microsoft/azure_arc, pull requests merged in 2024-01, with the labels that each got.

#2342 [azure_arc_k8s_jumpstart] remove image pull secret
  azure_arc_k8s_jumpstart/multi_distributions/calico_policy/storefront.yaml
Labels: arc_k8s, parnter, upstream related

#2341 Arc-enabled SQL Server scenario feature updates and bug fixes
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/azuredeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/azuredeploy.parameters.example.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/azuredeploy.parameters.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/clientVm.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/defendersqldcrtemplate.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/mgmtArtifacts.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/scripts/ArcServersLogonScript.ps1
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/scripts/Bootstrap.ps1
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/scripts/SqlAdvancedThreatProtectionShell.psm1
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/scripts/testDefenderForSQL.ps1
Labels: jumpstart enhancement, feature-request, arc_sqlsrv

#2346 Azure Arc-enabled Data Services and vSphere- changed secure string variable type
  azure_arc_data_jumpstart/aks/ARM/aks.json
  azure_arc_data_jumpstart/aks/ARM/artifacts/dataController.json
  azure_arc_data_jumpstart/aks/DR/ARM/aks.json
  azure_arc_data_jumpstart/aro/ARM/aro.json
  azure_arc_data_jumpstart/aro/ARM/artifacts/dataController.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/dataController.json
  azure_arc_data_jumpstart/eks/terraform/artifacts/dataController.json
  azure_arc_data_jumpstart/eks/terraform/modules/clientVM/main.tf
  azure_arc_data_jumpstart/gke/terraform/artifacts/dataController.json
  azure_arc_data_jumpstart/gke/terraform/variables.tf
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/dataController.json
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/dataController.json
  azure_arc_sqlsrv_jumpstart/aws/winsrv/terraform/variables.tf
  azure_arc_vsphere_jumpstart/vmware_arm_template_win/azuredeploy.json
Labels: arc_data, arc_vmware_vsphere

#2349 Azure Arc-enabled servers - update secure string variable type
  azure_arc_servers_jumpstart/azure/linux/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/azure/windows/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/privatelink/azuredeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/archive/vanilla/arm_template/azuredeploy.json
Labels: arc_servers

#2350 Azure Arc-enabled data services- update secure string variable
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/dataController.json
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/dataController.json
Labels: arc_data

#2359 Data update secure string variable
  azure_arc_data_jumpstart/eks/terraform/main.tf
  azure_arc_data_jumpstart/eks/terraform/modules/clientVM/main.tf
  azure_arc_sqlsrv_jumpstart/aws/winsrv/terraform/scripts/mma.json
  azure_arc_sqlsrv_jumpstart/aws/winsrv/terraform/variables.tf
  azure_arc_sqlsrv_jumpstart/gcp/winsrv/terraform/scripts/mma.json
  azure_arc_sqlsrv_jumpstart/vmware/winsrv/terraform/scripts/mma.json
Labels: arc_data

#2356 ArcBox update secure string variable
  azure_jumpstart_arcbox/artifacts/dataController.json
  azure_jumpstart_arcbox/terraform/modules/clientVm/main.tf
  azure_jumpstart_arcbox/terraform/modules/kubernetes/ubuntuCapi/main.tf
  azure_jumpstart_arcbox/terraform/modules/kubernetes/ubuntuRancher/main.tf
Labels: ArcBox

#2357 Servers update secure string variable
  azure_arc_servers_jumpstart/archive/extensions/arm/mma-template-linux.json
  azure_arc_servers_jumpstart/archive/extensions/arm/mma-template-windows.json
Labels: arc_servers

#2358 k8s update secure string variable
  azure_arc_k8s_jumpstart/eks/terraform/variables.tf
Labels: arc_k8s

#2365 Added ADO pipeline and scripts for ArcBox integration tests
  azure_jumpstart_arcbox/artifacts/integration_tests/arcbox_itpro.parameters.json
  azure_jumpstart_arcbox/artifacts/integration_tests/arcbox_itpro.yml
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Get-PesterResult.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Wait-ArcBoxDeployment.ps1
Labels: ArcBox

#2371 Arcbox 3.0 task 930 integration tests
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Wait-ArcBoxDeployment.ps1
Labels: ArcBox

#2374 Arcbox 3.0 task 930 integration tests
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
Labels: ArcBox

#2377 Add partial clone guidance
  README.md
Labels: documentation

#2384 Fix variable assignment in Azure Pipelines YAML
  azure-pipelines.yml
Labels: ArcBox

#2385 Update git remote URL to use HTTPS instead of SSH
  azure-pipelines.yml
Labels: ArcBox

#2386 Fix git remote URL in azure-pipelines.yml
  azure-pipelines.yml
Labels: ArcBox

#2387 Arcbox 3.0 task 930 integration tests
  azure-pipelines.yml
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
  azure_jumpstart_arcbox/artifacts/tests/Invoke-Test.ps1
Labels: ArcBox

#2388 Arcbox 3.0 task 930 integration tests
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
Labels: ArcBox

#2389 Arcbox 3.0 task 930 integration tests
  azure-pipelines.yml
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Wait-ArcBoxDeployment.ps1
  azure_jumpstart_arcbox/artifacts/tests/Invoke-Test.ps1
Labels: ArcBox
