Repository microsoft/azure_arc, pull requests merged in 2024-09, with the labels that each got.

#2689 Updates to AKS Edge Essentials single node deployment
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/artifacts/LogonScript.ps1
Labels: aks_hybrid

#2701 Refactor autoShutdown status logic to disable if no email is provided
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
Labels: bug, ArcBox

#2712 VBumps for sept release
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2725 Update WinGet.ps1 to install specific versions of Microsoft.WinGet.Client and Microsoft.WinGet.DSC
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
Labels: ArcBox

#2720 Arc-enabled SQL Server - ArcBox September release
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/azuredeploy.parameters.json
  azure_jumpstart_arcbox/ARM/clientVm/clientVm.json
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/prepareSqlServerForAssessment.ps1
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
Labels: jumpstart enhancement, arc_data, ArcBox, arc_sqlsrv
