Repository microsoft/azure_arc, pull requests merged in 2024-04, with the labels that each got.

#2473 Enable ESA and fine tune AIO
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-manufacturing.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_ag/artifacts/settings/ESA/config.json
  azure_jumpstart_ag/artifacts/settings/ESA/configPod.yaml
  azure_jumpstart_ag/artifacts/settings/ESA/pv.yaml
  azure_jumpstart_ag/artifacts/settings/ESA/pvc.yaml
  azure_jumpstart_ag/manufacturing/bicep/clientVm/clientVm.bicep
  azure_jumpstart_ag/manufacturing/bicep/main.bicep
  azure_jumpstart_ag/manufacturing/bicep/storage/storageAccount.bicep
Labels: review

#2489 Enable automatic deployment of HCI cluster
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Generate-ARM-Template.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/HCIBox-Config.psd1
  azure_jumpstart_hcibox/artifacts/PowerShell/HCIBoxLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/artifacts/hci.parameters.json
  azure_jumpstart_hcibox/bicep/host/host.bicep
  azure_jumpstart_hcibox/bicep/main.azd.bicep
  azure_jumpstart_hcibox/bicep/main.azd.parameters.json
  azure_jumpstart_hcibox/bicep/main.bicep
  azure_jumpstart_hcibox/bicep/main.parameters.json
Labels: jumpstart enhancement, HCIBox

#2492 HCIBox - Add parameter to enable automatic upgrade of cluster
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/bicep/host/host.bicep
  azure_jumpstart_hcibox/bicep/main.azd.parameters.json
  azure_jumpstart_hcibox/bicep/main.bicep
  azure_jumpstart_hcibox/bicep/main.parameters.json
Labels: HCIBox

#2500 HCIBox bugfix - autoUpdateClusterResource -> autoUpgradeClusterResource
  azure_jumpstart_hcibox/bicep/main.azd.bicep
  azure_jumpstart_hcibox/bicep/main.azd.parameters.json
  azure_jumpstart_hcibox/bicep/main.parameters.json
Labels: bug, HCIBox

#2496 Azure Arc-enabled data services April Release Updates
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2499 MQTT Sim for Agora and MCR updates on Event Grid connector
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/mq_cloudConnector.yml
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/manufacturing.psm1
  azure_jumpstart_ag/artifacts/settings/mq_cloudConnector.yml
  azure_jumpstart_ag/artifacts/settings/mqtt_listener.yml
  azure_jumpstart_ag/artifacts/settings/mqtt_simulator.yml
Labels: review

#2486 Edge Storage Accelerator (ESA) - Jumpstart Scenario
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/Bootstrap.ps1
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/DSCInstallWindowsFeatures.zip
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/LogonScript.ps1
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/Dockerfile
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/index.html
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/main.py
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/requirements.txt
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/static/index.css
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/static/index.js
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/static/jumpstart_scenarios.png
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/templates/index.html
  azure_edge_iot_ops_jumpstart/esa_fault_detection/azuredeploy.json
  azure_edge_iot_ops_jumpstart/esa_fault_detection/azuredeploy.parameters.json
  azure_edge_iot_ops_jumpstart/esa_fault_detection/yaml/esa-deploy.yaml
  azure_edge_iot_ops_jumpstart/esa_fault_detection/yaml/pv.yaml
Labels: jumpstart enhancement, new_scenario

#2514 Adding LogSize for AKS-EE deployments - Fix #2515
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/L1Files/ScalableCluster.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/L1Files/ScalableClusterAdd-k3s.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/L1Files/ScalableClusterAdd-k8s.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/L1Files/ScalableCluster.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/L1Files/ScalableClusterAdd-k3s.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/L1Files/ScalableClusterAdd-k8s.json
  azure_jumpstart_ag/retail/artifacts/L1Files/ScalableCluster.json
Labels: arc_k8s, aks_hybrid
