Repository microsoft/azure_arc, pull requests merged in 2024-05, with the labels that each got.

#2532 Ag manufacturing -> fixes to deployment automation
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/manufacturing.psm1
Labels: review

#2542 Added logic for azd pre-provisioning script to terminate when Microsoft.AzureStackHCI provider id is not retrieved
  azure_jumpstart_hcibox/scripts/preprovision.ps1
Labels: HCIBox

#2547 Bugfix - issue 2546
  azure_jumpstart_hcibox/scripts/preprovision.ps1
Labels: HCIBox

#2533 Refactored Azure CLI/PS login process to use Managed Identity
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DevOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/installArcAgent.ps1
  azure_jumpstart_arcbox/artifacts/installArcAgentSQLSP.ps1
  azure_jumpstart_arcbox/artifacts/installArcAgentSQLUser.ps1
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Labels: ArcBox

#2552 Removed SAS token for VHD downloads
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
Labels: ArcBox

#2567 Bugfix for tenant ID value. Optimized variable references.
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Labels: ArcBox

#2569 ArcBox 3.0 optimizations
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/tests/common.tests.ps1
  azure_jumpstart_arcbox/artifacts/tests/itpro.tests.ps1
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
Labels: ArcBox

#2572 Docker desktop autostart
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/common.psm1
  azure_jumpstart_ag/artifacts/settings/DockerDesktopSettings.json
Labels: bug, Agora

#2573 HCIBox azd deployment - improve the Azure CLI and PowerShell context setting process
  azure_jumpstart_hcibox/scripts/preprovision.ps1
Labels: HCIBox

#2544 Fixed Azure Arc-enabled servers proxy scenario certificate exchange
  azure_arc_servers_jumpstart/proxy/ARM/cloudDeploy.json
  azure_arc_servers_jumpstart/proxy/artifacts/install_arc_agent_proxy.sh
  azure_arc_servers_jumpstart/proxy/azuredeploy.example.parameters.json
Labels: arc_servers

#2554 Remove SAS-tokens in ArcBox
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
Labels: ArcBox

#2575 Updated storage account for VHD files for arcbox_3.0
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
Labels: ArcBox
