Repository microsoft/azure_arc, pull requests merged in 2024-10, with the labels that each got.

#2739 Fix Arc-enabled SQL Server issues
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/prepareSqlServerForAssessment.ps1
Labels: bug, ArcBox, arc_sqlsrv

#2749 HCIBox - change from BITS to azcopy. Storage NIC-configuration updates.
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
Labels: HCIBox

#2750 HCIBox - feature updates and bug fixes
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/HCIBox-Config.psd1
  azure_jumpstart_hcibox/artifacts/PowerShell/HCIBoxLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/WinGet.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/dsc/hyper-v.dsc.yml
  azure_jumpstart_hcibox/artifacts/PowerShell/dsc/packages.dsc.yml
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/Invoke-Test.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/common.tests.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/hci.tests.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/hcibox-bginfo.bgi
  azure_jumpstart_hcibox/artifacts/hci.parameters.json
Labels: HCIBox

#2754 Updated ACSA Scenario for fixes
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/artifacts/Bootstrap.ps1
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/artifacts/DSCInstallWindowsFeatures.zip
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/artifacts/LogonScript.ps1
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.json
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/yaml/acsa-deploy.yaml
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/Dockerfile
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/index.html
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/main.py
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/requirements.txt
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/static/index.css
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/static/index.js
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/static/jumpstart_scenarios.png
  azure_edge_iot_ops_jumpstart/esa_fault_detection/artifacts/esa_ai/templates/index.html
  azure_edge_iot_ops_jumpstart/esa_fault_detection/azuredeploy.parameters.json
  azure_edge_iot_ops_jumpstart/esa_fault_detection/yaml/pv.yaml
Labels: jumpstart enhancement, new_scenario, review

#2762 Pin-down Az.ConnectedKubernetes due to regression
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/artifacts/LogonScript.ps1
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/LogonScript.ps1
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/PowerShell/LogonScript.ps1
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/PowerShell/aioConfig.psd1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/common.psm1
Labels: Agora

#2774 Migrate Contoso Bakeries to MCR
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/mqtt_listener.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/mqtt_simulator.yml
Labels: jumpstart enhancement, azure_iot_operations

#2759 Agora 2.0 -> fix Ubuntu custom script issues
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-hypermarket.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/common.psm1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/contoso_hypermarket.psm1
  azure_jumpstart_ag/artifacts/kubernetes/K3s/installK3s.sh
  azure_jumpstart_ag/contoso_hypermarket/bicep/kubernetes/ubuntuRancher.bicep
Labels: review

#2778 Modifying Pindown + Stability Changes
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/artifacts/LogonScript.ps1
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.json
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.parameters.json
Labels: arc_k8s

#2783 Agora 2.0 - Data pipeline updates
  azure_jumpstart_ag/artifacts/PowerShell/SetupFabricWorkspace.ps1
  azure_jumpstart_ag/artifacts/adx_dashboards/fabric-hypermarket-dashboard.json
  azure_jumpstart_ag/artifacts/notebooks/orders-sales-forecast.ipynb
  azure_jumpstart_ag/contoso_hypermarket/bicep/clientVm/clientVm.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/data/dataExplorer.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/data/eventGrid.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/data/eventHub.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/data/fabric.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/data/script.kql
  azure_jumpstart_ag/contoso_hypermarket/bicep/main.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/main.parameters.json
Labels: Agora

#2791 Agora 2.0 enhancements
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/tests/Invoke-Test.ps1
Labels: Agora
