Repository microsoft/azure_arc, pull requests merged in 2024-03, with the labels that each got.

#2436 Azure Stack HCI 2402 base images and associated script updates
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-AKSWorkloadCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/bicep/main.azd.bicep
Labels: HCIBox

#2439 HCIBox -> improve AKS onboarding script logs
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-AKSWorkloadCluster.ps1
Labels: HCIBox

#2453 Bump default Kubernetes version to 1.28.5
  azure_arc_app_services_jumpstart/aks/ARM/artifacts/Bootstrap.ps1
  azure_arc_app_services_jumpstart/aks/ARM/azuredeploy.json
  azure_arc_app_services_jumpstart/cluster_api/capi_azure/ARM/artifacts/installCAPI.sh
  azure_arc_data_jumpstart/aks/ARM/azuredeploy.json
  azure_arc_data_jumpstart/aks/DR/ARM/azuredeploy.json
  azure_arc_data_jumpstart/aks/Migration/ARM/azuredeploy.json
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/installCAPI.sh
  azure_arc_k8s_jumpstart/aks/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks/arm_template/azuredeploy.parameters.json
  azure_arc_k8s_jumpstart/aks/terraform/variables.tf
  azure_arc_k8s_jumpstart/aks_iot_edge/terraform/variable.tf
  azure_arc_k8s_jumpstart/cluster_api/capi_azure/artifacts/installCAPI.sh
  azure_arc_k8s_jumpstart/cluster_api/capi_azure/installCAPI.sh
  azure_arc_k8s_jumpstart/rancher_k3s/azure/arm_template/scripts/installK3s.sh
  azure_arc_k8s_jumpstart/rancher_k3s/azure/terraform/scripts/installK3s.sh
  azure_arc_k8s_jumpstart/rancher_k3s/vmware/terraform/scripts/vars.sh
  azure_arc_ml_jumpstart/aks/arm_template/aks.json
  azure_arc_ml_jumpstart/aks/arm_template/artifacts/azuredeploy.parameters.example.json
  azure_arc_ml_jumpstart/aks/arm_template/azuredeploy.json
  azure_arc_ml_jumpstart/aks/arm_template/azuredeploy.parameters.json
  azure_jumpstart_arcbox/ARM/kubernetes/aks.json
  azure_jumpstart_arcbox/artifacts/installCAPI.sh
  azure_jumpstart_arcbox/bicep/kubernetes/aks.bicep
  azure_jumpstart_arcbox/terraform/modules/kubernetes/aks/main.tf
Labels: arc_k8s

#2458 Fixed custom location creation issue with ArcBox DataOps deployment.
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Labels: bug, arc_k8s, arc_data, ArcBox, upstream related

#2463 [HCIBox] pin client-vm image
  azure_jumpstart_hcibox/bicep/host/host.bicep
Labels: HCIBox

#2465 Merge latest ArcBox changes to address other issues identified recently
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/main.azd.bicep
  azure_jumpstart_ag/retail/bicep/main.azd.bicep
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Generate-ARM-Template.ps1
  azure_jumpstart_hcibox/bicep/host/host.bicep
Labels: arc_k8s, arc_data, ArcBox

#2450 march release updates
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/installKubeadm.sh
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2479 Added Azure Workbook for Infrastructure Observability
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_ag/artifacts/monitoring/arc-inventory-workbook.bicep
Labels: Agora

#2480 Added error-handing to Deploy-Workbook function
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-manufacturing.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/artifacts/monitoring/arc-inventory-workbook.bicep
Labels: Agora
