Repository microsoft/azure_arc, pull requests merged in 2024-02, with the labels that each got.

#2395 Hcibox deployment experience - small improvements
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Generate-ARM-Template.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/artifacts/hci.json
  azure_jumpstart_hcibox/scripts/preprovision.ps1
Labels: HCIBox

#2410 Update VI scenario with upstream changes to VI enabled by Arc extension deployment
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_vi/artifacts/LogonScript.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
Labels: bug, arc_k8s, HCIBox, aks_hybrid

#2418 HCIBox updated images
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
Labels: HCIBox

#2416 Feb-arc-data-vbumps
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/cluster_api/capi_azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/installKubeadm.sh
  azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataServicesLogonScript.ps1
Labels: arc_data, ArcBox, arc_sqlsrv, upstream related

#2425 Initial PR for Agora manufacturing monitoring
  azure_jumpstart_ag/artifacts/PowerShell/AgLogonScript.ps1
  azure_jumpstart_ag/manufacturing/bicep/mgmt/VMInsightsDCR.bicep
  azure_jumpstart_ag/manufacturing/bicep/mgmt/mgmtArtifacts.bicep
  azure_jumpstart_ag/manufacturing/bicep/mgmt/policyAzureArcRGScope.bicep
Labels: Agora

#2432 Bumping AKS version to 1.28.5
  azure_jumpstart_ag/retail/bicep/kubernetes/aks.bicep
Labels: Agora
