Repository microsoft/azure_arc, pull requests merged in 2025-04, with the labels that each got.

#3141 Add vmSize parameter to Virtual Machine configuration in HCIBox
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/bicep/host/host.bicep
  azure_jumpstart_hcibox/bicep/main.bicep
Labels: HCIBox

#3164 Fixed SQL stress test broken links
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/aro/ARM/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/Bootstrap.ps1
Labels: Bug-Issue, Arc-Data-Svc, ArcBox, Arc-SQL

#3167 Telemetry for ArcBox and LocalBox
  azure_jumpstart_arcbox/bicep/main.bicep
  azure_jumpstart_arcbox/bicep/mgmt/customerUsageAttribution.bicep
  azure_jumpstart_hcibox/bicep/main.bicep
  azure_jumpstart_hcibox/bicep/mgmt/customerUsageAttribution.bicep
Labels: ArcBox, HCIBox

#3171 Arc ML scenario - Fixed AKS version and ARM template
  azure_arc_ml_jumpstart/aks/arm_template/aks.json
  azure_arc_ml_jumpstart/aks/arm_template/azuredeploy.json
Labels: Bug-Issue, Arc-ML

#3168 ArcBox - Enhancements to VM shutdown settings
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
Labels: ArcBox

#3182 vBumps for April Arc Data Release
  arc_data_services/charts/arcdataservices/templates/role-bootstrapper.yaml
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Labels: Arc-Data-Svc, ArcBox

#3192 Align Agora base image credentials with JS images
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-hypermarket.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-motors.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-supermarket.psd1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/common.psm1
Labels: Agora

#3180 Contoso Motors - define InfluxDB Admin password & comment deployGPUNodes
  azure_jumpstart_ag/contoso_motors/bicep/main.bicep
Labels: Release-Candidate
