Repository microsoft/azure_arc, pull requests merged in 2025-03, with the labels that each got.

#2996 Container migration to MCR
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/artifacts/video/video-streaming.yaml
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/artifacts/video/video-streaming.yaml
  azure_jumpstart_arcbox/artifacts/DataOpsAppDRScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsAppScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsTestAppScript.ps1
Labels: ArcBox

#3000 Fixed Arc Data Controller deployment in data services scenario
  azure_arc_data_jumpstart/aks/ARM/VNET.json
  azure_arc_data_jumpstart/aks/ARM/addsVm.json
  azure_arc_data_jumpstart/aks/ARM/aks.json
  azure_arc_data_jumpstart/aks/ARM/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DeploySQLMIADAuth.ps1
  azure_arc_data_jumpstart/aks/ARM/azuredeploy.json
  azure_arc_data_jumpstart/aks/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/ARM/logAnalytics.json
Labels: bug, arc_data

#3005 SQL stress test tool installation issue fixed
  azure_arc_data_jumpstart/aks/ARM/artifacts/Bootstrap.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DeploySQLMIADAuth.ps1
Labels: bug, arc_data

#2999 HciBox issue 2998 - added resource tag default values
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-AKSWorkloadCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-VMLogicalNetwork.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/Invoke-Test.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/hci.tests.ps1
  azure_jumpstart_hcibox/bicep/host/host.bicep
  azure_jumpstart_hcibox/bicep/main.bicep
  azure_jumpstart_hcibox/bicep/mgmt/mgmtArtifacts.bicep
  azure_jumpstart_hcibox/bicep/mgmt/storageAccount.bicep
  azure_jumpstart_hcibox/bicep/network/network.bicep
Labels: HCIBox

#3036 Workaround for issue 3035 - RDP hang
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Generate-ARM-Template.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/common.tests.ps1
Labels: ArcBox, HCIBox

#3046 Contoso supermarket - Update NSGs
  azure_jumpstart_ag/contoso_supermarket/bicep/mgmt/network.bicep
Labels: Agora

#3047 ArcBox - Update NSGs
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/mgmt/mgmtArtifacts.json
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Labels: ArcBox

#3126 vBumps for March release
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Labels: Arc-Data-Svc, ArcBox, Arc-SQL

#3135 Add workaround for Azure Edge Lifecycle Manager extension deployment
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
Labels: HCIBox

#3137 HCIBox - Add compute RP
  azure_jumpstart_hcibox/artifacts/PowerShell/HCIBoxLogonScript.ps1
  azure_jumpstart_hcibox/hooks/preprovision.ps1
  azure_jumpstart_hcibox/hooks/preprovision.sh
Labels: HCIBox
