Repository microsoft/azure_arc, pull requests merged in 2025-01, with the labels that each got.

#2889 Temporarily moved azcopy installation
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-hypermarket.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-motors.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-supermarket.psd1
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Winget.ps1
  azure_jumpstart_ag/artifacts/PowerShell/azcopy_install.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_arcbox/artifacts/azcopy_install.ps1
  azure_jumpstart_arcbox/artifacts/dsc/common.dsc.yml
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/WinGet.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/azcopy_install.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/dsc/packages.dsc.yml
Labels: bug, ArcBox, HCIBox, upstream related, Agora

#2891 Resolves hard-coded locations issue #2885
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-AKSWorkloadCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-VMLogicalNetwork.ps1
Labels: HCIBox

#2896 Revert "Temporarily moved azcopy installation"
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-hypermarket.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-motors.psd1
  azure_jumpstart_ag/artifacts/PowerShell/AgConfig-contoso-supermarket.psd1
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Winget.ps1
  azure_jumpstart_ag/artifacts/PowerShell/azcopy_install.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_arcbox/artifacts/azcopy_install.ps1
  azure_jumpstart_arcbox/artifacts/dsc/common.dsc.yml
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/WinGet.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/azcopy_install.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/dsc/packages.dsc.yml
Labels: ArcBox

#2897 ArcBox WS 2025 - merge latest from main
  azure_arc_servers_jumpstart/azure/linux/arm_template/azuredeploy.parameters.json
  azure_edge_iot_ops_jumpstart/aio_manufacturing/.gitignore
  azure_edge_iot_ops_jumpstart/aio_manufacturing/azure.yaml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/PowerShell/Bootstrap.ps1
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/PowerShell/LogonScript.ps1
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/PowerShell/aioConfig.psd1
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/Bookmarks
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/DSCInstallWindowsFeatures.zip
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/influxdb-configmap.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/influxdb-import-dashboard.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/influxdb.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/influxdb_setup.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/mq_cloudConnector.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/mqtt_explorer_settings.json
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/mqtt_listener.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/Settings/mqtt_simulator.yml
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/artifacts/adx_dashboard/dashboard.json
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/data/dataExplorer.bicep
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/data/eventGrid.bicep
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/data/eventHub.bicep
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/data/fryer.kql
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/data/keyVault.bicep
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/data/productionline.kql
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/data/staging.kql
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/main.azd.bicep
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/main.azd.parameters.json
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/main.bicep
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/main.parameters.example.json
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/main.parameters.json
  azure_edge_iot_ops_jumpstart/aio_manufacturing/bicep/storage/storageAccount.bicep
  azure_edge_iot_ops_jumpstart/aio_manufacturing/scripts/postprovision.ps1
  azure_edge_iot_ops_jumpstart/aio_manufacturing/scripts/predown.ps1
  azure_edge_iot_ops_jumpstart/aio_manufacturing/scripts/preprovision.ps1
  azure_jumpstart_arcbox/ARM/clientVm/clientVm.json
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/dsc/virtual_machines_itpro.dsc.yml
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-AKSWorkloadCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/Configure-VMLogicalNetwork.ps1
Labels: ArcBox
