Repository microsoft/azure_arc, pull requests merged in 2025-02, with the labels that each got.

#2905 AKS App Service - remove storage profile and rev extension version
  azure_arc_app_services_jumpstart/aks/ARM/aks.json
  azure_arc_app_services_jumpstart/aks/ARM/artifacts/AppServicesLogonScript.ps1
Labels: jumpstart enhancement, arc_k8s, arc_app_svc

#2907 ArcBox - Security enhancements
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/azuredeploy.parameters.json
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/RunAfterClientVMADJoin.ps1
  azure_jumpstart_arcbox/artifacts/SetupADDS.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
  azure_jumpstart_arcbox/bicep/mgmt/addsVm.bicep
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Labels: ArcBox

#2936 HCIBox 2411 updates
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/WinGet.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/dsc/packages.dsc.yml
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/Invoke-Test.ps1
  azure_jumpstart_hcibox/bicep/host/host.bicep
  azure_jumpstart_hcibox/bicep/main.bicep
Labels: HCIBox

#2937 Arcbox issue 2934
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/bicep/mgmt/policyAzureArc.bicep
Labels: arc_servers, ArcBox

#2986 ArcBox ARM deployment fixes
  azure_arc_k8s_jumpstart/aks/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks/arm_template/azuredeploy.parameters.json
  azure_arc_ml_jumpstart/aks/arm_template/aks.json
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/mgmt/addsVm.json
  azure_jumpstart_arcbox/ARM/mgmt/policyAzureArcBuiltins.json
Labels: bug, ArcBox

#2988 Adding HCI 2411 image to HCIBox
  azure_jumpstart_hcibox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/HCIBox-Config.psd1
  azure_jumpstart_hcibox/artifacts/PowerShell/HCIBoxLogonScript.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/New-HCIBoxCluster.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/WinGet.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/dsc/packages.dsc.yml
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/Invoke-Test.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/common.tests.ps1
  azure_jumpstart_hcibox/artifacts/PowerShell/tests/hci.tests.ps1
  azure_jumpstart_hcibox/bicep/host/host.bicep
  azure_jumpstart_hcibox/bicep/main.bicep
Labels: HCIBox
